@import url('https://fonts.googleapis.com/css2?family=Aladin&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Barrio&family=IM+Fell+English+SC&display=swap');

body {
  margin: 0;
  height: 600vh;
  background-color: rgb(4, 4, 63); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgba(246, 179, 22, 0.803), rgba(243, 243, 24, 0.79), rgba(225, 31, 14, 0.853), rgb(225, 102, 14), rgba(108, 201, 244, 0.678), rgba(25, 44, 188, 0.909), rgba(25, 44, 188, 0.9090), rgba(0, 51, 128, 0.88), rgb(4, 4, 63));
  background-repeat: no-repeat;
  background-size: 100vw 400vh;
}

#estrella {
 background-image: url("https://i.gifer.com/2iiB.gif");
 height: 200vw;
 width: 100vw;
 position: fixed;
 bottom: 0;
 background-position-y: bottom;
 pointer-events: none;
}

#mañana {
  height: 200vh;
}

#tarde {
  height: 200vh;
  
}

#noche {
  height: 200vh;
}
   
.audio {
  opacity: 0;
}


h2 {
  font-size: 2.3em;
}

#contenedor {
  margin: auto 1em;
  text-align: center;
}

#tituloPagina {
  margin-top: 5em;
  margin-bottom: 0;
   font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: beige;
}

#foto {
 height: 900px; 
 width: 900px;
 border: solid 5px;
 border-radius: 100px;
 margin-top: 60px;
}

#foto2 {
 height: 900px; 
 width: 900px;
 border: solid 5px;
 border-radius: 100px;
 margin-top: 60px;
}

#foto3 {
 height: 900px; 
 width: 900px;
 border: solid 5px;
 border-radius: 100px;
 margin-top: 60px;
}

#titulo1 {
  font-size: 1.5em;
color: aliceblue;
  }

#prediccion1 {
  font-size: 2em;
  color: aliceblue;
}
#prediccion2 {
  color: aliceblue;
  font-size: 1.5em;
  }

#titulo2 {
  color: aliceblue;
  font-size: 2em;

}
#prediccion3 {
  color: aliceblue;
  font-size: 1.5em;
  }

#titulo3 {
  color: aliceblue;
  font-size: 2em;

}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  margin-bottom: 1em;
  cursor: pointer;
}